*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#game-board{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 150px;
}
.memoryCard{
    width: 200px;
    height: 200px;
    border: 2px rgb(131, 107, 72);
    margin: 10px;
    border-radius: 15px;
    background-color: chocolate;
    cursor: pointer;
}
h1{
    text-align: center;
    color:blue;
}
